@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --white: #fffafa;
    --black: #0c0c0c;
    --dark-green: #182c25;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

.App{
    background-color: var(--black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.counter{
    background-color: var(--dark-green);
    padding: 3rem 2rem;
    border-radius: .5rem;
    width: 45rem;
    text-align: center;
}

.counter h2{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--white);
}

.counter h1{
    font-size: 10rem;
    width: 20rem;
    color: var(--white);
    font-weight: 400;
}

.counter .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.select label{
    font-size: 2.5rem;
    color: var(--white);
}

.select select{
    font-size: 2.5rem;   
    border-radius: 0.5rem;
}

.select select:hover{
    cursor: pointer;
}

.button{
    font-size: 2.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
    background-color: var(--black);
    color: var(--white);
    border: none;
    transition: 0.2s linear;
}

.button:hover{
    scale: 1.2;
    cursor: pointer;
}

.reset{
    width: 10rem;
}

/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}