* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #23b499;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

.counter {
    background-color: green;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

.button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.button:hover {
    scale: 1.2;
    cursor: pointer;
}

.select--list {
    margin-left: 5px;
    padding: 5px;
    font-size: 20px;
    border-radius: 25%;
}

.select--list {
    cursor: pointer;
}

