* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.App {
    background-image: linear-gradient(to bottom right, #233329, #011503);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

.counter {
    background-color: green;
    padding: 2rem;
    border-radius: .5rem;
    width: 45rem;
    text-align: center;
}

.counter h2{
    font-size: 4rem;
}

.counter h1{
    font-size: 8rem;
    background-color: white;
    width: 10rem;
    margin: 0 auto;
    border-radius: 50%;
}

.select{
    font-size: 2.5rem;
}

.select--list{
    font-size: 3rem;
    margin-left: 1rem;
    
    border-radius: 25%;
}

.select--list:hover {
    cursor: pointer;
}

.button {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.button:hover{
    scale: 1.2;
    cursor: pointer;
}

/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    html{
        font-size: 55%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}

/*

 vcvc importar google fonts 

:root{
    --main-color: #ff0;
    --light-white: rgba(255,255,255,.5);
    --light-black: rgba(0,0,0,.3);
    --light-bg: rgba(255,255,255,.1);
    --white: #fff;
    --black: #000;
    --gray: #333;
}

*{
    font-family: ;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}





section{
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
    border: 1px solid yellow;
}



.home .flex{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .flex form{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    width: 50rem;
    color: white;
    text-align: center;
}

.home .flex form h2{
    font-size: 2.5rem;  
}

.home .flex form h1{
    font-size: 5rem;
}



/* media queries 

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:768px){
    html{
        font-size: 55%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}



*/